.section1 img {
    width: 450px;
    height: auto;
}

.section1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px 0;
}

.titlecontiner {
    text-align: center;
    font-family: var(--title-font);
}

.titlecontiner h1 {
    font-size: 48px;
}

.titlecontiner h2{
    font-size: 32px;
    font-style: italic;
}

.titlecontiner button {
    border: none;
    outline: none;
    background-color: var(--verde-o);
    padding:10px 20px;
    border-radius: 27px;
    font-size: 26px;
    color: #fff;
    cursor: pointer;
    margin: 20px;
}

.titlecontiner button:hover {
    background-color: var(--verde-c);
}

.titlecontiner button:active{
    background-color: var(--verde-o);
}

.section2{
    background-color: var(--verde-o);
    color: #fff;
    text-align: center;
    font-family:var(--title-font) ;
    
    
}

.section2 h2 {
    font-size: 48px;
}

.section2 div h3 {
    font-size: 48px;
}

.section2 div p{
    font-size: 24px;
}
.estadistica{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
    margin-top: 50px;
}

.estadistica div {
    align-self: center;
}

.estadistica div:nth-child(2){
    align-self: start ;
    
}


.section3{
    background-color: var(--verde-c);
    color: #fff;
    font-family: var(--title-font);
    text-align: center;
    padding-bottom: 50px;
}

.section3 h2 {
    font-size: 48px;
}



.section3 .Donantes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.section3 p {
    font-size: 32px;
}

.section3 img {
    width: 400px;
    height: auto;

}

.section3 div{
    margin: 30px 0;
}

.section4 {
    background-color: var(--amarillo);
    color: #fff;
    font-family: var(--text-font);

}

.section4 .contenedor div {
    background-repeat: no-repeat;
    background-size: contain;
    width: 600px;
    text-align: end;
    
    

}

.section4 h2 {
    font-size: 24px;
}

.section4 .contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    

}

.section4 button {
    border: none;
    outline: none;
    background: transparent;
    border: 4px solid #fff;
    border-radius: 27px;
    padding: 19px 43px;
    color: #fff;
    margin-top: 20px;
}

.section5 {
    background-color: var(--naranja);
    color: #fff;
    text-align: center;
    font-size: 24px;
}