.header {
  position: relative;
  text-align: center;
  padding: 20px 0 20px 0;
}

.fondo-ondulado {
  position: absolute;
  top: -130px;
  left: 0;
  width: 100%;
  height: 450px;
  z-index: 0;
}

.header-text {
  position: relative;
  z-index: 1;
  color: var(--color);
  padding-top: 20px;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 600;
}

header p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.noticias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 20px;
  max-width: 1200px;
  margin: 80px auto;
  position: relative;
  z-index: 1;
}
.fondito {
  position: absolute;
  width: 100%;
  top: 0;
}

.noticia {
  text-decoration: none;
  max-width: 500px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.noticia img {
  width: 100%;
  height: auto;
}

.noticia-header {
  padding: 15px;
  font-size: 1rem;
  color: var(--color);
  text-align: left;
  font-family: var(--title-font), sans-serif;
}

.noticias .noticia:nth-child(3n + 1) .noticia-header {
  background-color: var(--naranja); /* Primer elemento en el patrón */
}

.noticias .noticia:nth-child(3n + 2) .noticia-header {
  background-color: var(--verde-c); /* Segundo elemento en el patrón */
}

.noticias .noticia:nth-child(3n) .noticia-header {
  background-color: var(--verde-o); /* Tercer elemento en el patrón */
}

.noticia-header p {
  font-weight: 600;
}

.noticia-header span {
  font-size: 0.8rem;
  display: block;
  margin-top: 5px;
  font-weight: 400;
}

@media (max-width: 756px) {
  .header h1 {
    font-size: 24px;
  }
  .header p {
    font-size: 16px;
  }
}
